agm-map {
    height: 100%;
  }

  .send-btn {
    margin: auto;
    width: 320px;
    border-radius: 16px;
    background-color: red;
  }

  .back-btn {
    position: fixed;
    top: 32px;
    left: 32px;
    font-size: 18px;
  }

  .call-btn {
    margin: auto;
    width: 320px;
    border-radius: 16px;
    color: white;
    background-color: green;
  }

  .send-btn-clicked {
    background: linear-gradient(to right, green 50%, red 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 3s ease-out;
  }

  .address-bar {
    margin: auto;
        width: 80%;
    
    border-radius: 8px;

  }

  .center-div {
    position: fixed;
    bottom: 32px;
    width: 100%;
  }

  .center-div-top {
    position: fixed;
    top: 16px;
    width: 100%;
  }