<div class="container" fxLayout="column" fxLayoutGap="10px">

  <button mat-raised-button routerLink="/report" class="report-btn" fxFlex="20" color="warn"><mat-icon>warning</mat-icon> Report Fire</button>
  <h2>Community Reports</h2>
  <mat-card fxFlex="40">
    <mat-card-title>Community Reports</mat-card-title>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>
  <h2>How To Prevent Fire</h2>
  <mat-card fxFlex="40">
    <mat-card-title>
      How to Prevent Fire
    </mat-card-title>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>
</div>
<mat-toolbar color="primary">
    <button mat-button matTooltip="Login">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-button routerLink="/reportsviewer">
      <mat-icon>
        report
      </mat-icon>
    </button>
</mat-toolbar>